@import "/home/vanandrew/.cache/wal/colors-waybar.css";

#window {
  caret-color: @foreground;
  background-color: rgba(0, 0, 0, 0);
}

entry#entry {
  font-size: 18px;
  color: @foreground;
  background-color: @background;
  border-color: rgba(0, 0, 0, 0);
  padding: 15px;
  border-radius: 20px;
}

box#main {
  background-color: @background;
  border-radius: 20px;
  opacity: 0.95;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
}

row#match:selected label {
  color: @background;
}

row#match:selected {
  background-color: @foreground;
}

row#match label {
  color: @foreground;
}

label#match-title {
  font-size: 18px;
  font-weight: 400;
}

label#match-desc {
  font-size: 14px;
  font-weight: 300;
}

label#plugin {
  font-size: 18px;
  color: @foreground;
}

row#plugin:hover {
  background-color: @background;
  border-radius: 20px;
}

