@import url("file:///home/vanandrew/.config/waybar/colors.css");

window {
  caret-color: @foreground;
  background-color: rgba(0, 0, 0, 0);
}

text {
  font-size: 18px;
  color: @foreground;
  background-color: @background;
  border-color: rgba(0, 0, 0, 0);
  padding: 15px;
  border-radius: 20px;
}

.main {
  background-color: @background;
  border-radius: 20px;
  opacity: 0.95;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

.plugin {
  background-color: rgba(0, 0, 0, 0);
}

.match:selected .title,
.match:selected .description {
  color: @background;
}

.match:selected {
  background-color: @foreground;
}

.match .title,
.match .description {
  color: @foreground;
}

.title {
  font-size: 18px;
  font-weight: 400;
}

.description {
  font-size: 14px;
  font-weight: 300;
}

.info label {
  font-size: 18px;
  color: @foreground;
}

.plugin:hover {
  background-color: @background;
  border-radius: 20px;
}
